<nav class="navbar navbar-toggleable-md navbar-light bg-faded">
  <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <a class="navbar-brand" href="javascript:void(0);" [routerLink]="['/dashboard']">Home</a>
  <div class="collapse navbar-collapse justify-content-end" id="navbarNav">
    <form class="form-inline my-2 my-lg-0 margin">
      <input class="form-control mr-sm-2" type="text" placeholder="Search">
      <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
    </form>
    <ul class="navbar-nav">
      <li class="nav-item">
        <button type="button" class="btn btn-primary margin" [routerLink]="['/create']">Create new survey</button>
      </li>
      <li class="nav-item">
        <button type="button" class="btn btn-danger" (click)="logout()">Log Out</button>
      </li>
    </ul>
  </div>
</nav>

<div class="container">
  <h2 class="offset-1">Current Polls:</h2>
  <div class="table-responsive overflow border">
    <table class="table table-striped table-sm">
      <thead>
        <tr>
          <th>Name</th>
          <th>Survey Question</th>
          <th>Date Posted</th>
          <th>Action</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let survey of surveys">
          <td scope="row">{{survey._user.name}}</td>
          <td><a href="javascript:void(0);" [routerLink]="['/survey',survey._id]">{{survey.question}}</a></td>
          <td>{{survey.createdAt | date}}</td>
          <td><button type="button" class="btn btn-sm btn-danger col-6" (click)="deleteSurvey(survey._id)" *ngIf="survey._user._id==user['_id']">Delete</button>
        </tr>
      </tbody>
    </table>
  </div>
</div>



